@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 16px;
}
@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
}
body {
    overflow-x: hidden;
}

header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

#slide-out {
    background: linear-gradient(#134e5e, #009688);
    background-size: cover;
}

.row,
.card {
    margin: 0;
}

main {
    margin-bottom: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #3c4858;
    border-top: 1px solid #e6e6e6;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9rem;
    background: #eee;
    z-index: 1;
}

.btn-fantasma {
    background: none;
    border: 3px solid teal;
    border-radius: 20px;
    margin-top: 30px;
    color: teal;
    padding: 10px 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.btn-fantasma:hover {
    background: teal;
    color: white;
}

.img-hover{transition: all ease 1s;}
.img-hover:hover{
    transform: scale(1.2);
}
/* modificaciones del datatable */

/* .dataTables_wrapper .dataTables_paginate {
    color: white;
} */
/* botones del menu datatable */
.dataTables_wrapper .dataTables_paginate .paginate_button{
    border: none;
    color: teal !important;
}
/* botones del menu datatable activo */
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: teal;
    border: none;
    color: white !important;
}
/* botones del menu datatable activo en hover*/
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #01b1b1;
    border: none;
    color: white !important;
}

/* raya de abajo*/
table.dataTable.no-footer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}


